{% load static %}

<footer>
    <nav class="nav navbar navbar-expand-lg fixed-bottom navbar-light foo-header footer">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapseFoot" aria-controls="navbarCollapseFoot" aria-expanded="false"
                    aria-label="Toggle navigation" id="NavBarToggler">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapseFoot">
            <div class="row text-block-foot" style="width: 100%">
                <div class="col mid-content-foot" ><a href="">About us</a></div>
                <div class="col mid-content-foot" ><a href="">Support</a></div>
                <div class="col mid-content-foot" ><a href="/profile">Profile</a></div>
                <div class="col mid-content-foot" ><a href="">Discord</a></div>
                <div class="col mid-content-foot" ><a href="">Help us</a></div>
            </div>
        </div>
    </nav>
</footer>