{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">
    {% load static %}
    <link href="{% static 'styles/header.css' %}" rel="stylesheet" type="text/css">
    <style>
        .login-btn {
            display: none;
        }
    </style>
    <title>Login page</title>

    <link href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/sticky-footer-navbar.css"
          rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.0/examples/checkout/form-validation.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<style>
    .login-btn {
        display: none;
    }
</style>
<body class="d-flex flex-column h-100">

<header>
    {% block header %}
        {% include 'pages/header.html' %}
    {% endblock %}
</header>

<main>
    <div class="row g-3" style="margin-top: 100px; margin-left: auto;margin-right: auto; width: 40em;>
      <div class=" col-md-7 col-lg-8
    ">
    <h4 class="mb-3" id="login"><a href="#login" class="page-l">Login</a></h4>
    <form method="post"> {% csrf_token %}
        <div class="col-12 mb-3">
            <label for="login" class="form-label">Username</label>
            {% render_field login_form.username|add_class:"form-control fields" type="text" placeholder="Username" id="login" %}
        </div>

        <div class="col-12 mb-3">
            <label for="password" class="form-label">Password</label>
            {% render_field login_form.password|add_class:"form-control fields" type="password" placeholder="Password" id="password" %}
            {% render_field login_form.logging|add_class:"form-control" style="display: none;" %}
        </div>
        {% if messages %}
            <ul class="messages text-center" style="padding-left: 0; ">
                {% for message in messages %}
                    {% if message.tags == "warning" %}
                        <li{% if message.tags %} class="{{ message.tags }} messages" id="messages" {% endif %}
                                                 style="color: #d70c10; list-style-type: none; font-size: 90%;">{{ message }}</li>
                        <div class="progress" style="height: 6px;">
                                  <div class="progress-bar progress-login" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="background: #dd9c61;"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <button class="w-100 btn btn-lg btn-sub" type="submit">Login</button>
    </form>
    <hr class="my-4">

    <h4 class="mb-3" id="register"><a href="#register" class="page-l">Registration</a></h4>
    <form class="needs-validation" method="post"> {% csrf_token %}
        <div class="row g-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {% render_field register_form.first_name.label %}
                        {% render_field register_form.first_name|add_class:"form-control fields" type="text" placeholder="Ivan" style="margin-top: 10px;" %}
                    </div>

                    <div class="col-md-6 mb-3">
                        {% render_field register_form.last_name.label %}
                        {% render_field register_form.last_name|add_class:"form-control fields" type="text" placeholder="Ivanov" style="margin-top: 10px;" %}
                    </div>
                </div>
                <div class="col-12 mb-3">
                    {% render_field register_form.username.label %}
                    {% render_field register_form.username|add_class:"form-control fields" type="text" placeholder="Username" style="margin-top: 10px;" %}
                </div>

                <div class="col-12 mb-3">
                    {% render_field register_form.email.label %}
                    {% render_field register_form.email|add_class:"form-control fields" type="email" placeholder="email@example.com" style="margin-top: 10px;" %}
                </div>

                <div class="col-12 mb-3">
                    {% render_field register_form.password.label %}
                    {% render_field register_form.password|add_class:"form-control fields" type="password" placeholder="Password" style="margin-top: 10px;" %}
                    {% render_field register_form.register|add_class:"form-control" style="display: none;" %}
                </div>
                {% if messages %}
                    <ul class="messages text-center" id="pass" style="padding-left: 0; ">
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <li{% if message.tags %} class="{{ message.tags }} messages" {% endif %}
                                                         style="color: #d70c10; list-style-type: none; font-size: 90%;">{{ message }}</li>
                                <div class="progress" style="height: 6px;">
                                  <div class="progress-bar progress-register" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="background: #dd9c61;"></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul>

                {% endif %}

                <button class="w-100 btn btn-lg btn-sub" type="submit">Register</button>
    </form>
    <hr class="my-4">

    </div>
    </div>
</main>
<script>

    function started_login(duration) {
        var TotalSeconds = 40;
        var start = Date.now();
        var intervalSetted = null;

        function timer() {
            var diff = duration - (((Date.now() - start) / 44) | 0);
            var seconds = (diff % 60) | 0;
            seconds = seconds < 10 ? "0" + seconds : seconds ;
            $('#timer').html("00:" + seconds);
            var progresBarWidth = (seconds * 612 / TotalSeconds);

            $('.progress-login').css({
                width: progresBarWidth + 'px'
            });

            $('.progress-register').css({
                width: progresBarWidth + 'px'
            });
            if (diff <= -20) {
                clearInterval(intervalSetted);
                $('.progress-login').remove();
                $('.progress-register').remove();
            }
        }

        timer();
        intervalSetted = setInterval(timer, 1);
    }

    function hider() {
        $('.messages').hide(600, function () {
            $('.messages').remove();
        });
    }

    setTimeout(hider, 2000)
    started_login(40);


</script>
</body>
</html>