<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'styles/header.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/footer.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/profile.css' %}" rel="stylesheet" type="text/css">
    <title>Profile</title>
    <link href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/sticky-footer-navbar.css"
          rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.0/examples/checkout/form-validation.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body class="body-default">
{% block header %}
    {% include 'header.html' %}
{% endblock %}
<main>
    <div class="card main-card">
        <div class="row row-padding-card">
            <div class="col-6">
                <div class="row upper-block-text">
                    <div class="col-5 text-al-center padding-0">
                        <div class="row"><img class="avatar-img" src="{{ stats.img }}" width="200px" height="200px">
                        </div>
                        <div class="row"><span class="edit-text">Edit</span></div>
                    </div>
                    <div class="col-7">
                        <div class="row left-5 text-secondary big-font">
                            <span>{{ first_name }}</span>
                        </div>
                        <div class="row left-5 text-secondary big-font">
                            <span>{{ last_name }}</span>
                        </div>

                        <div class="row left-5 text-secondary top-15">
                            <div><img class="left-logos" height="20px" width="36px" style="border-radius: 5px"
                                      src="{% static 'images/DefaultFlag.bmp' %}"> <span>Russia</span></div>
                        </div>
                        <div class="row left-5 text-secondary top-15">
                            <div><img class="left-logos" height="20px" width="36px" style="border-radius: 5px"
                                      src="{% static 'images/AM-License.png' %}"> <span>License</span></div>
                        </div>

                        <div class="row left-5 text-secondary top-15">
                            <div><img class="left-logos" height="20px" width="36px" style="border-radius: 5px"
                                      src="{% static 'images/steam_logo.png' %}"> <span>Timema_Militisto</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="upper-block-text">
                    <div class="center-block-borders">
                        <div style="height: 68px" class="row left-5 text-secondary big-font middle-text">
                            <span class="vert-center">BER</span>
                        </div>
                    </div>
                    <div class="center-block-borders">
                        <div style="height: 28px" class="row left-5 text-secondary top-15 middle-text">
                            <div><span>178 Races</span></div>
                        </div>
                        <div style="height: 28px" class="row left-5 text-secondary top-15 middle-text">
                            <div><span>9 Wins</span></div>
                        </div>

                        <div style="height: 28px" class="row left-5 text-secondary top-15 middle-text">
                            <div><span>54 Top 10</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="upper-block-text">
                    <div style="height: 68px" class="row left-5 text-secondary big-font">
                        <span class="vert-center">ID: #1488228</span>
                    </div>

                    <div style="height: 28px" class="row left-5 text-secondary top-15">
                        <div>
                            <div>
                                <img height="20px" width="20px"
                                  src="{% static 'images/instagram.png' %}">
                                <span class="text-soc">Bersenev.official</span>
                            </div>
                        </div>
                    </div>
                    <div style="height: 28px" class="row left-5 text-secondary top-15">
                        <div>
                            <div>
                                <img height="20px" width="20px"
                                  src="{% static 'images/twitch.png' %}">
                                <span class="text-soc">Timema_Militisto</span>
                            </div>
                        </div>
                    </div>

                    <div style="height: 28px" class="row left-5 text-secondary top-15">
                        <div>
                            <div>
                                <img height="20px" width="20px"
                                  src="{% static 'images/discord.png' %}">
                                <span class="text-soc">Timema_Militisto</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-padding-card">
            <div class="header"><span>About </span><span class="orange-about-me">myself</span></div>
            <hr class="custom-hr">
            <div><span class="aboout-me-text">I bla bla bla bla aspda adfm apes s slds aslslslda sdoewm sapcmwamsld as q sflaa bla aspda adfm apes s slds aslslslda sdoewm sapcmwamsld as q sflaa bla aspda adfm apes s slds aslslslda sdoewm sapcmwamsld as q sflaa bla aspda adfm apes s slds aslslslda sdoewm sapcmwamsld as q sflaa.</span>
            </div>
            <hr class="custom-hr" id="hr-myself" style="margin-bottom: 0">
        </div>
        <div class="row row-padding-card">
            <div class="header"><span>Teams</span></div>
            <hr class="custom-hr">
        </div>
        <div class="row row-padding-card teams">
            <div class="col-4 teams-padding">
                <div class="card table-card">
                    <div class="row text-al-center"><span class="teams-header text-secondary">TheSimRacer OMST</span>
                    </div>
                    <table class="table-marg">
                        <tr>
                            <td style="width: 20%"></td>
                            <td style="width: 80%"></td>
                        </tr>
                        <tr>
                            <td class="text-secondary">1.</td>
                            <td>Anton Bersenev (owner)</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">2.</td>
                            <td>Artem Burenin</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">3.</td>
                            <td>Kirill Korolev</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">4.</td>
                            <td>Sergey Orlov</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">5.</td>
                            <td>Ilya Tsepkalo</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">6.</td>
                            <td>Sebastian Gagen</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">7.</td>
                            <td>Alexnader Dudarev</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">8.</td>
                            <td>Dmitry Zhirdralindra</td>
                        </tr>
                    </table>
                    <button onclick="location.href = '/team/1';" type="button" class="btn button-shadow manage-btn manage-btn-text center-horiz">
                        Manage
                    </button>
                </div>
            </div>
            <div class="col-4 teams-padding">
                <div class="card table-card">
                    <div class="row text-al-center"><span class="teams-header text-secondary">TheSimRacer OMST</span>
                    </div>
                    <table class="table-marg">
                        <tr>
                            <td style="width: 20%"></td>
                            <td style="width: 80%"></td>
                        </tr>
                        <tr>
                            <td class="text-secondary">1.</td>
                            <td>Anton Bersenev (owner)</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">2.</td>
                            <td>Artem Burenin</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">3.</td>
                            <td>Kirill Korolev</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">4.</td>
                            <td>Sergey Orlov</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">5.</td>
                            <td>Ilya Tsepkalo</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">6.</td>
                            <td>Sebastian Gagen</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">7.</td>
                            <td>Alexnader Dudarev</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">8.</td>
                            <td>Dmitry Zhirdralindra</td>
                        </tr>
                    </table>
                    <button onclick="location.href = '/team/2';" type="button" class="btn button-shadow manage-btn manage-btn-text center-horiz">
                        Manage
                    </button>
                </div>
            </div>
            <div class="col-4 teams-padding">
                <div class="card table-card">
                    <div class="row text-al-center"><span class="teams-header text-secondary">TheSimRacer OMST</span>
                    </div>
                    <table class="table-marg">
                        <tr>
                            <td style="width: 20%"></td>
                            <td style="width: 80%"></td>
                        </tr>
                        <tr>
                            <td class="text-secondary">1.</td>
                            <td>Anton Bersenev (owner)</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">2.</td>
                            <td>Artem Burenin</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">3.</td>
                            <td>Kirill Korolev</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">4.</td>
                            <td>Sergey Orlov</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">5.</td>
                            <td>Ilya Tsepkalo</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">6.</td>
                            <td>Sebastian Gagen</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">7.</td>
                            <td>Alexnader Dudarev</td>
                        </tr>
                        <tr>
                            <td class="text-secondary">8.</td>
                            <td>Dmitry Zhirdralindra</td>
                        </tr>
                    </table>
                    <button onclick="location.href = '/team/3';" type="button" class="btn button-shadow manage-btn manage-btn-text center-horiz">
                        Manage
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
</body>
</html>