{% extends 'base-bootstrap.html' %}
{% load static %}
{% block title %}
    Events
{% endblock %}
{% block styles %}
    <link href="{% static 'styles/header.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/events.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/footer.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/event-register.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
    <main>
        <div class="card main-card">
            <div class="row header-padding">
                <div class="card-header-text text-center">Joining to</div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="card-header-text text-center map-name col-4 mid-pos">
                    <span>{{ event.game_settings.event_settings.track.name }}</span><span>123</span>
                    <hr style="text-align: center; display: inline-block; width: 100%; border: 1px solid rgba(37, 37, 37, 0.5);">
                </div>
                <div class="col-4"></div>
            </div>
            <form method="post">
                <div class="row">
                    <div class="col-4">
                        <input name="car-class" id="car-class" class="display-none">
                        <div class="btn-group right-horiz create-new-event-btn text-center mid-pos" style=""
                             id="login-btn-group" data-toggle="collapse">
                            <button type="button" id="select_class" class="btn dropdown-toggle mons-text text-btn"
                                    data-bs-toggle="dropdown" aria-expanded="false">Select class
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right create-new-event-list" style="width: 85%;">
                                <li onclick="btn_action('car-class', 'GT3', 'select_class'); change_list();" class="li-new-event"><a href="#" id="GT3"
                                                                                                  class="events-dropdown-item mons-text">GT3</a>
                                </li>
                                <li onclick="btn_action('car-class', 'GT4', 'select_class'); change_list();" class="li-new-event"><a href="#" id="GT4"
                                                                                                  class="events-dropdown-item mons-text">GT4</a>
                                </li>
                                <li onclick="btn_action('car-class', 'Multi', 'select_class'); change_list();" class="li-new-event"><a href="#" id="Multi"
                                                                                                  class="events-dropdown-item mons-text">Multi</a>
                                </li>
                                <li onclick="btn_action('car-class', 'ST', 'select_class'); change_list();" class="li-new-event"><a href="#" id="ST"
                                                                                                  class="events-dropdown-item mons-text">ST</a>
                                </li>
                                <li onclick="btn_action('car-class', 'Cup', 'select_class'); change_list();" class="li-new-event"><a href="#" id="Cup"
                                                                                                  class="events-dropdown-item mons-text">Cup</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4">
                        <input name="car" id="car" class="display-none">
                        <div class="btn-group right-horiz create-new-event-btn text-center mid-pos" style=""
                             id="login-btn-group" data-toggle="collapse">
                            <button type="button" id="select_car" class="btn dropdown-toggle mons-text text-btn"
                                    data-bs-toggle="dropdown" aria-expanded="false">Select car
                            </button>
                            <ul id="list-of-cars" class="dropdown-menu dropdown-menu-right create-new-event-list" style="width: 85%;">
                                <li id="GT3" onclick="btn_action('car', 'Mercedes-AMG', 'select_car');" class="li-new-event"><a href="#" id="Mercedes-AMG"
                                                                                            class="events-dropdown-item mons-text">Mercedes-AMG</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Mercedes-AMG 2020', 'select_car');" class="li-new-event"><a href="#" id="Mercedes-AMG 2020"
                                                                                            class="events-dropdown-item mons-text">Mercedes-AMG 2020</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'AMR V12 Vantage', 'select_car');" class="li-new-event"><a href="#" id="AMR V12 Vantage"
                                                                                            class="events-dropdown-item mons-text">AMR V12 Vantage</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'AMR V8 Vantage(Evo)', 'select_car');" class="li-new-event"><a href="#" id="AMR V8 Vantage(Evo)"
                                                                                            class="events-dropdown-item mons-text">AMR V8 Vantage(Evo)</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Audi R8 LMS', 'select_car');" class="li-new-event"><a href="#" id="Audi R8 LMS"
                                                                                            class="events-dropdown-item mons-text">Audi R8 LMS</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Audi R8 LMS Evo', 'select_car');" class="li-new-event"><a href="#" id="Audi R8 LMS Evo"
                                                                                            class="events-dropdown-item mons-text">Audi R8 LMS Evo</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Bentley Continental', 'select_car');" class="li-new-event"><a href="#" id="Bentley Continental"
                                                                                            class="events-dropdown-item mons-text">Bentley Continental</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Bentley Continental(Evo)', 'select_car');" class="li-new-event"><a href="#" id="Bentley Continental(Evo)"
                                                                                            class="events-dropdown-item mons-text">Bentley Continental(Evo)</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'BMW M6', 'select_car');" class="li-new-event"><a href="#" id="BMW M6"
                                                                                            class="events-dropdown-item mons-text">BMW M6</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Jaguar', 'select_car');" class="li-new-event"><a href="#" id="Jaguar"
                                                                                            class="events-dropdown-item mons-text">Jaguar</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Ferrari 488', 'select_car');" class="li-new-event"><a href="#" id="Ferrari 488"
                                                                                            class="events-dropdown-item mons-text">Ferrari 488</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Ferrari 488 Evo', 'select_car');" class="li-new-event"><a href="#" id="Ferrari 488 Evo"
                                                                                            class="events-dropdown-item mons-text">Ferrari 488 Evo</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Honda NSX', 'select_car');" class="li-new-event"><a href="#" id="Honda NSX"
                                                                                            class="events-dropdown-item mons-text">Honda NSX</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Honda NSX Evo', 'select_car');" class="li-new-event"><a href="#" id="Honda NSX Evo"
                                                                                            class="events-dropdown-item mons-text">Honda NSX Evo</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Lamborghini Huracan', 'select_car');" class="li-new-event"><a href="#" id="Lamborghini Huracan"
                                                                                            class="events-dropdown-item mons-text">Lamborghini Huracan</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Lamborghini Huracan Evo', 'select_car');" class="li-new-event"><a href="#" id="Lamborghini Huracan Evo"
                                                                                            class="events-dropdown-item mons-text">Lamborghini Huracan Evo</a>
                                </li>
                                <li id="ST" onclick="btn_action('car', 'Lamborghini Huracan ST', 'select_car');" class="li-new-event"><a href="#" id="Lamborghini Huracan ST"
                                                                                            class="events-dropdown-item mons-text">Lamborghini Huracan ST</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Lexus RC F', 'select_car');" class="li-new-event"><a href="#" id="Lexus RC F"
                                                                                            class="events-dropdown-item mons-text">Lexus RC F</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'McLaren 650s', 'select_car');" class="li-new-event"><a href="#" id="McLaren 650s"
                                                                                            class="events-dropdown-item mons-text">McLaren 650s</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'McLaren 720s', 'select_car');" class="li-new-event"><a href="#" id="McLaren 720s"
                                                                                            class="events-dropdown-item mons-text">McLaren 720s</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Nissan GT-R Nismo', 'select_car');" class="li-new-event"><a href="#" id="Nissan GT-R Nismo"
                                                                                            class="events-dropdown-item mons-text">Nissan GT-R Nismo</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Nissan GT-R Nismo(Evo)', 'select_car');" class="li-new-event"><a href="#" id="Nissan GT-R Nismo(Evo)"
                                                                                            class="events-dropdown-item mons-text">Nissan GT-R Nismo(Evo)</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Porsche 991 R', 'select_car');" class="li-new-event"><a href="#" id="Porsche 991 R"
                                                                                            class="events-dropdown-item mons-text">Porsche 991 R</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Porsche 991 R(Evo)', 'select_car');" class="li-new-event"><a href="#" id="Porsche 991 R(Evo)"
                                                                                            class="events-dropdown-item mons-text">Porsche 991 R(Evo)</a>
                                </li>
                                <li id="Cup" onclick="btn_action('car', 'Porsche 991 Cup', 'select_car');" class="li-new-event"><a href="#" id="Porsche 991 Cup"
                                                                                            class="events-dropdown-item mons-text">Porsche 991 Cup</a>
                                </li>
                                <li id="GT3" onclick="btn_action('car', 'Reiter R-EX', 'select_car');" class="li-new-event"><a href="#" id="Reiter R-EX"
                                                                                            class="events-dropdown-item mons-text">Reiter R-EX</a>
                                </li>
                                <li id="GT4" onclick="btn_action('car', 'Alpine A110', 'select_car');" class="li-new-event"><a href="#" id="Alpine A110"
                                                                                            class="events-dropdown-item mons-text">Alpine A110</a>
                                </li>
                                <li id="GT4" onclick="btn_action('car', 'AMR V8 Vantage', 'select_car');" class="li-new-event"><a href="#" id="AMR V8 Vantage"
                                                                                            class="events-dropdown-item mons-text">AMR V8 Vantage</a>
                                </li>
                                <li id="GT4" onclick="btn_action('car', 'Audi R8 LMS', 'select_car');" class="li-new-event"><a href="#" id="Audi R8 LMS"
                                                                                            class="events-dropdown-item mons-text">Audi R8 LMS</a>
                                </li>
                                <li id="GT4" onclick="btn_action('car', 'BMW M4', 'select_car');" class="li-new-event"><a href="#" id="BMW M4"
                                                                                            class="events-dropdown-item mons-text">BMW M4</a>
                                </li>
                                <li id="GT4" onclick="btn_action('car', 'Chevrolet Camaro', 'select_car');" class="li-new-event"><a href="#" id="Chevrolet Camaro"
                                                                                            class="events-dropdown-item mons-text">Chevrolet Camaro</a>
                                </li>
                                <li id="GT4" onclick="btn_action('car', 'Ginetta G55', 'select_car');" class="li-new-event"><a href="#" id="Ginetta G55"
                                                                                            class="events-dropdown-item mons-text">Ginetta G55</a>
                                </li>
                                <li id="GT4" onclick="btn_action('car', 'KTM X-Bow', 'select_car');" class="li-new-event"><a href="#" id="KTM X-Bow"
                                                                                            class="events-dropdown-item mons-text">KTM X-Bow</a>
                                </li>
                                <li id="GT4" onclick="btn_action('car', 'Maserati GT MC', 'select_car');" class="li-new-event"><a href="#" id="Maserati GT MC"
                                                                                            class="events-dropdown-item mons-text">Maserati GT MC</a>
                                </li>
                                <li id="GT4" onclick="btn_action('car', 'McLaren 570s', 'select_car');" class="li-new-event"><a href="#" id="McLaren 570s"
                                                                                            class="events-dropdown-item mons-text">McLaren 570s</a>
                                </li>
                                <li id="GT4" onclick="btn_action('car', 'Mercedes-AMG', 'select_car');" class="li-new-event"><a href="#" id="Mercedes-AMG"
                                                                                            class="events-dropdown-item mons-text">Mercedes-AMG</a>
                                </li>
                                <li id="GT4" onclick="btn_action('car', 'Porsche 718 Cayman ', 'select_car');" class="li-new-event"><a href="#" id="Porsche 718 Cayman"
                                                                                            class="events-dropdown-item mons-text">Porsche 718 Cayman</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="car-number" class="display-none"></label>
                        <input style="outline: none" min="1" max="{{ cars.count }}" placeholder="Car number"
                               name="car-number" type="number" id="car-number"
                               class="btn-group right-horiz create-new-event-btn text-center mid-pos">
                    </div>
                </div>
                <div class="row row-padding-1">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <input id="command" name="command" class="display-none">
                        <div class="btn-group right-horiz create-new-event-btn text-center mid-pos" style=""
                             id="sel-team" data-toggle="collapse">
                            <button type="button" id="select-team" class="btn dropdown-toggle mons-text text-btn"
                                    data-bs-toggle="dropdown" aria-expanded="false">Select team
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right create-new-event-list" style="width: 85%;">
                                <li onclick="btn_action('command', 'First team', 'select-team');" class="li-new-event"><a id="First team" href="#"
                                                                                                class="events-dropdown-item mons-text">First team</a>
                                </li>
                                <li onclick="btn_action('command', 'Second team', 'select-team');" class="li-new-event"><a id="Second team" href="#"
                                                                                                class="events-dropdown-item mons-text">Second team</a>
                                </li>
                                <li>
                                    <input type="text" id="new-team" placeholder="Create team"
                                           style="outline: none; text-align: center; width: 100%; height: 90%">
                                    <a type="button" onclick="create_team('new-team', 'select-team');"
                                       class="btn button-shadow join-btn join-btn-text mons-text mid-pos"
                                       style="display: block; background: #eac407"
                                       href="#">Accept creation
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="row row-padding-1">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <input type="submit" class="btn button-shadow join-btn join-btn-text mons-text mid-pos" value="Join" style="display: block; width: 90%">
                    </div>
                    <div class="col-4"></div>
                </div>
            </form>
        </div>
    </main>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}

    {% block after-body %}
        <script>
            function btn_action(input, id_sel_elem, span) {
                document.getElementById(span).innerHTML = document.getElementById(id_sel_elem).innerHTML
                document.getElementById(input).value = document.getElementById(id_sel_elem).innerHTML
            }

            function create_team(team, span) {
                document.getElementById(span).innerHTML = document.getElementById(team).value
                document.getElementById('command').value = document.getElementById(team).value
            }

            function change_list(){
                $('#list-of-cars').each(function () {
                    var Class = document.getElementById('car-class').value
                    $("li", this).each(function(i) {
                        if(Class !== 'Multi'){
                            if($(this).attr("id") !== Class){
                                $(this).css("display", "none")
                            } else{
                                $(this).css("display", "block")
                            }
                            $('#list-of-cars').css("padding-bottom", "0")
                        } else {
                            $(this).css("display", "block")
                            $('#list-of-cars').css("padding-bottom", "60px")
                        }
                    });
                });
            }
        </script>
    {% endblock %}
{% endblock %}