{% extends 'base-bootstrap.html' %}
{% load static %}
{% block title %}
  Events
{% endblock %}
{% block styles %}
  <link href="{% static 'styles/header.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'styles/events.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'styles/footer.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
  {% block header %}
    {% include 'header.html' %}
  {% endblock %}
  <main>
    <div class="card main-card">
      <div class="row text-center">
        <span class="card-header-text">Upcoming Events</span>
      </div>
      <hr class="title-hr">
      <div class="card-body-2 body-card-placement">
        <div class="row row-padding">
          {% for event in events %}
            <div class="col-lg-4 col-md-4 map-card" style="min-width: 200px">
              <div class="card" style="background: #E8E8E8;">
                <div class="row row-img-padding">
                  <img class="img-race" src="{% static 'images/imola.jpg' %}" alt="">
                </div>
                <div class="row">
                  <span class="bold text-center map-card-title">{{ event.name }}</span>
                </div>
                <hr class="card-hr">
                <div class="row">
                  <div class="col-6 text-center text-secondary">
                    <span>Track</span>
                  </div>
                  <div class="col-6 text-center bold">
                    <span>{{ event.game_settings.event_settings.track }}</span>
                  </div>
                </div>
                <hr class="card-hr-secondary">
                <div class="row">
                  <div class="col-6 text-center text-secondary">
                    <span>Date</span>
                  </div>
                  <div class="col-6 text-center bold">
                    <span>{{ event.starts_at|date:"D d.m.Y" }}</span>
                  </div>
                </div>
                <hr class="card-hr-secondary">
                <div class="row">
                  <div class="col-6 text-center text-secondary">
                    <span>Time</span>
                  </div>
                  <div class="col-6 text-center bold">
                    <span>{{ event.starts_at|time:"H:i" }}</span>
                  </div>
                </div>
                <hr class="card-hr-secondary">
                <div class="row text-center more-btn-padding">
                            <span>
                                <a type="button"
                                        class="btn join-btn join-btn-text"
                                        href="/event/{{ event.pk }}">Join
                                </a>
                            </span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
  {% block footer %}
    {% include 'footer.html' %}
  {% endblock %}
{% endblock %}