{% extends 'base-bootstrap.html' %}
{% load static %}
{% block title %}
    Events
{% endblock %}
{% block styles %}
    <link href="{% static 'styles/header.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/events.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/footer.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/event-register.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
    <main>
        <div class="card main-card">
            <div class="row header-padding">
                <div class="card-header-text text-center">Joining to</div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="card-header-text text-center map-name col-4 mid-pos">
                    <span>{{ event.game_settings.event_settings.track.name }}</span><span>123</span>
                    <hr style="text-align: center; display: inline-block; width: 100%; border: 1px solid rgba(37, 37, 37, 0.5);">
                </div>
                <div class="col-4"></div>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-4">
                        <div class="btn-group right-horiz create-new-event-btn text-center mid-pos" style=""
                             id="login-btn-group" data-toggle="collapse">
                            <select name="car_class" id="car_class" onchange="filterCarList()">
                                {% for class in car_classes %}
                                    <option value="{{ class.id }}">{{ class.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <input name="car" id="car" class="display-none">
                        <div class="btn-group right-horiz create-new-event-btn text-center mid-pos" style=""
                             id="login-btn-group" data-toggle="collapse">
                            <select name="car_id" id="car_id">
                                {% for car in car_list %}
                                    <option value="{{ car.id }}" data-class="{{ car.type_id }}">{{ car.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="car-number" class="display-none"></label>
                        <input style="outline: none" min="1" max="{{ cars.count }}" placeholder="Car number"
                               name="car-number" type="number" id="car-number"
                               class="btn-group right-horiz create-new-event-btn text-center mid-pos">
                    </div>
                </div>
                <div class="row row-padding-1">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <input type="submit" class="btn button-shadow join-btn join-btn-text mons-text mid-pos" value="Join" style="display: block; width: 90%">
                    </div>
                    <div class="col-4"></div>
                </div>
            </form>
        </div>
    </main>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}

    {% block after-body %}
        <script>

            $(document).ready(filterCarList);
            var car_list = [
                {% for car in car_list %}
                {
                    name: "{{ car.name }}",
                    type: "{{ car.type.id }}"
                },
                {% endfor %}
            ]
            function filterCarList(){
                let car_class = $("#car_class").val();
                let car_options = $("#car_id")[0].options;
                let cars = car_list.filter(x => x.type === car_class);
                console.log(cars);
                while (car_options.length){
                    car_options.remove(0);
                }
                for (let i = 0; i < cars.length; ++i){
                    car_options.add(new Option(cars[i].name, cars[i].type));
                }
            }

        </script>
    {% endblock %}
{% endblock %}