{% extends 'base-bootstrap.html' %}
{% load static %}
{% block title %}
    Events
{% endblock %}
{% block styles %}
    <link href="{% static 'styles/header.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/events.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/footer.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/event-register.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
    <main>
        <div class="card main-card">
            <div class="row header-padding">
                <div class="card-header-text text-center">Joining to</div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="card-header-text text-center map-name col-4 mid-pos">
                    <span>{{ event.game_settings.event_settings.track.name }}</span><span>123</span>
                    <hr style="text-align: center; display: inline-block; width: 100%; border: 1px solid rgba(37, 37, 37, 0.5);">
                </div>
                <div class="col-4"></div>
            </div>
            <form method="post">
                <div class="row">
                    <div class="col-4">
                        <input name="car-class" id="car-class" class="display-none">
                        <div class="btn-group right-horiz create-new-event-btn text-center mid-pos" style=""
                             id="login-btn-group" data-toggle="collapse">
                            <button type="button" id="select_class" class="btn dropdown-toggle mons-text text-btn"
                                    data-bs-toggle="dropdown" aria-expanded="false">Select class
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right create-new-event-list" style="width: 85%;">
                                <li onclick="btn_action('car-class', 'GT3', 'select_class');" class="li-new-event"><a href="#" id="GT3"
                                                                                                  class="events-dropdown-item mons-text">GT3</a>
                                </li>
                                <li onclick="btn_action('car-class', 'GT4', 'select_class');" class="li-new-event"><a href="#" id="GT4"
                                                                                                  class="events-dropdown-item mons-text">GT4</a>
                                </li>
                                <li onclick="btn_action('car-class', 'Multi', 'select_class');" class="li-new-event"><a href="#" id="Multi"
                                                                                                  class="events-dropdown-item mons-text">Multi</a>
                                </li>
                                <li onclick="btn_action('car-class', 'ST', 'select_class');" class="li-new-event"><a href="#" id="ST"
                                                                                                  class="events-dropdown-item mons-text">ST</a>
                                </li>
                                <li onclick="btn_action('car-class', 'Cup', 'select_class');" class="li-new-event"><a href="#" id="Cup"
                                                                                                  class="events-dropdown-item mons-text">Cup</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4">
                        <input name="car" id="car" class="display-none">
                        <div class="btn-group right-horiz create-new-event-btn text-center mid-pos" style=""
                             id="login-btn-group" data-toggle="collapse">
                            <button type="button" id="select_car" class="btn dropdown-toggle mons-text text-btn"
                                    data-bs-toggle="dropdown" aria-expanded="false">Select car
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right create-new-event-list" style="width: 85%;">
                                <li onclick="btn_action('car', 'First', 'select_car');" class="li-new-event"><a id="First" href="#"
                                                                                            class="events-dropdown-item mons-text">First</a>
                                </li>
                                <li onclick="btn_action('car', 'Second', 'select_car');" class="li-new-event"><a id="Second" href="#"
                                                                                            class="events-dropdown-item mons-text">Second</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="car-number" class="display-none"></label>
                        <input style="outline: none" min="1" max="{{ cars.count }}" placeholder="Car number"
                               name="car-number" type="number" id="car-number"
                               class="btn-group right-horiz create-new-event-btn text-center mid-pos">
                    </div>
                </div>
                <div class="row row-padding-1">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <input id="command" name="command" class="display-none">
                        <div class="btn-group right-horiz create-new-event-btn text-center mid-pos" style=""
                             id="sel-team" data-toggle="collapse">
                            <button type="button" id="select-team" class="btn dropdown-toggle mons-text text-btn"
                                    data-bs-toggle="dropdown" aria-expanded="false">Select team
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right create-new-event-list" style="width: 85%;">
                                <li onclick="btn_action('command', 'First team', 'select-team');" class="li-new-event"><a id="First team" href="#"
                                                                                                class="events-dropdown-item mons-text">First team</a>
                                </li>
                                <li onclick="btn_action('command', 'Second team', 'select-team');" class="li-new-event"><a id="Second team" href="#"
                                                                                                class="events-dropdown-item mons-text">Second team</a>
                                </li>
                                <li>
                                    <input type="text" id="new-team" placeholder="Create team"
                                           style="outline: none; text-align: center; width: 100%; height: 90%">
                                    <a type="button" onclick="create_team('new-team', 'select-team');"
                                       class="btn button-shadow join-btn join-btn-text mons-text mid-pos"
                                       style="display: block; background: #eac407"
                                       href="#">Accept creation
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="row row-padding-1">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <input type="submit" class="btn button-shadow join-btn join-btn-text mons-text mid-pos" value="Join" style="display: block; width: 90%">
                    </div>
                    <div class="col-4"></div>
                </div>
            </form>
        </div>
    </main>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}

    {% block after-body %}
        <script>
            function btn_action(input, id_sel_elem, span) {
                alert(document.getElementById(id_sel_elem).innerHTML)
                document.getElementById(span).innerHTML = document.getElementById(id_sel_elem).innerHTML
                document.getElementById(input).value = document.getElementById(id_sel_elem).innerHTML
            }

            function create_team(team, span) {
                alert(document.getElementById(team).value)
                document.getElementById(span).innerHTML = document.getElementById(team).value
                document.getElementById('command').value = document.getElementById(team).value
            }
        </script>
    {% endblock %}
{% endblock %}