{% extends 'page-with-header.html' %}
{% load static %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'styles/create-playlist-main.css' %}">
  <link rel="stylesheet" href="{% static 'styles/create-playlist-show-main.css' %}">
{% endblock %}
{% block content %}
  <div class="container" style="margin-top: 57px;">
    <div class="row">
{#      <div class="playlist-thumbnail" id="thumbnail" style="background: url({{ playlist.thumbnail.url }})">#}
      <div class="playlist-thumbnail" id="thumbnail">
        <span class="playlist-name">{{ playlist.name }}</span>
        <div class="right-items">
          <div class="pilots-class pilot-class-{{ playlist.pilot_qualify }}">
            {{ playlist.pilot_qualify }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 content">
        <h2 class="section-title">Description</h2>
        <p class="standard-text">
          {% if playlist.description|length == 0 %}
            No description
          {% else %}
            {{ playlist.description }}
          {% endif %}
        </p>
      </div>
    </div>
  </div>
{% endblock %}