{% extends 'base-bootstrap.html' %}
{% load static %}
{% block title %}
    Reports
{% endblock %}
{% block styles %}
    <link href="{% static 'styles/header.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/events.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/footer.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/events.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/reports.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
    <main>
        <div class="card main-card">
            <div class="row header-padding">
                <div class="col-4"></div>
                <div class="col-4" style="min-width: 200px">
                    <div class="card-header-text text-center">Reports</div>
                </div>
                <div class="col-4 vert-center">
                    <div class="left-horiz create-new-event-btn">
                        <div class="create-new-event-block text-center">
                            <button onclick="location.href = '/report/create';"
                                    class="btn mons-text btn-create-new">Create new
                                <div class="plus alt"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-custom">
                <div class="center-horiz" style="width: 95%">
                    <span class="text-secondary status mons-text">Active</span>
                    <hr style="margin-top: 0">
                </div>
            </div>
            <div class="center-horiz card card-padding card-report"
                 style="background: #E8E8E8; margin-bottom: 20px; width: 93%; box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);">
                <div class="row" style="margin: 0">
                    <div class="col-4">
                        <span class="bold-text">Race: </span>
                        <span class="text-secondary text-upper">Sprint Cup, Round 2</span>
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-4" style="text-align:right">
                        <span class="bold-text">Report ID:</span>
                        <span class="text-secondary text-upper">#123456789</span>
                    </div>
                </div>

                <hr class="custom-hr">
                <div>
                    <span class="main-points">Date:</span>
                    <span class="text-size text-secondary">28.02.2021</span>
                </div>
                <div>
                    <span class="main-points">Track:</span>
                    <span class="text-size text-secondary">Imola</span>
                </div>
                <div>
                    <span class="main-points">Incendent from:</span>
                    <span class="text-size text-secondary">Binotta</span>
                </div>
                <div>
                    <span class="main-points">Incendent with:</span>
                    <span class="text-size text-secondary">Sergey Orlov</span>
                </div>
                <div>
                    <span class="main-points">Lap:</span>
                    <span class="text-size text-secondary">28</span>
                </div>
                <div>
                    <span class="main-points">Description:</span>
                </div>
                <span style="background: white" class="text-size text-secondary">Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba  Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba  Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba  Aboba Aboba Aboba AbobaAboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba  Aboba Aboba Aboba Aboba</span>
                <hr>
                <div>
                    <span class="bold-text">Status:</span>
                    <span class="bold-text text-secondary">Not seen</span>
                </div>
            </div>
            <div class="row row-custom">
                <div class="center-horiz" style="width: 95%">
                    <span class="text-secondary status mons-text">Archive</span>
                    <hr style="margin-top: 0">
                </div>
            </div>
            <div class="center-horiz card card-padding card-report"
                 style="background: #E8E8E8; margin-bottom: 20px; width: 93%; box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);">
                <div class="row" style="margin: 0">
                    <div class="col-4">
                        <span class="bold-text">Race: </span>
                        <span class="text-secondary text-upper">Sprint Cup, Round 2</span>
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-4" style="text-align:right">
                        <span class="bold-text">Report ID:</span>
                        <span class="text-secondary text-upper">#123456789</span>
                    </div>
                </div>

                <hr class="custom-hr">
                <div>
                    <span class="main-points">Date:</span>
                    <span class="text-size text-secondary">28.02.2021</span>
                </div>
                <div>
                    <span class="main-points">Track:</span>
                    <span class="text-size text-secondary">Imola</span>
                </div>
                <div>
                    <span class="main-points">Incendent from:</span>
                    <span class="text-size text-secondary">Binotta</span>
                </div>
                <div>
                    <span class="main-points">Incendent with:</span>
                    <span class="text-size text-secondary">Sergey Orlov</span>
                </div>
                <div>
                    <span class="main-points">Lap:</span>
                    <span class="text-size text-secondary">28</span>
                </div>
                <div>
                    <span class="main-points">Description:</span>
                </div>
                <span style="background: white" class="text-size text-secondary">Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba  Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba  Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba  Aboba Aboba Aboba AbobaAboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba  Aboba Aboba Aboba Aboba</span>
                <hr>
                <div class="row" style="margin: 0">
                    <div class="col-4">
                        <span class="bold-text">Status:</span>
                        <span class="bold-text positive">Applied</span>
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-4" style="text-align:right">
                        <span class="bold-text">Penalty:</span>
                        <span class="text-secondary text-upper">Permament ban, sbinalla</span>
                    </div>
                </div>
            </div>

            <div class="center-horiz card card-padding card-report"
                 style="background: #E8E8E8; margin-bottom: 20px; width: 93%; box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);">
                <div class="row" style="margin: 0">
                    <div class="col-4">
                        <span class="bold-text">Race: </span>
                        <span class="text-secondary text-upper">Sprint Cup, Round 2</span>
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-4" style="text-align:right">
                        <span class="bold-text">Report ID:</span>
                        <span class="text-secondary text-upper">#123456789</span>
                    </div>
                </div>

                <hr class="custom-hr">
                <div>
                    <span class="main-points">Date:</span>
                    <span class="text-size text-secondary">28.02.2021</span>
                </div>
                <div>
                    <span class="main-points">Track:</span>
                    <span class="text-size text-secondary">Imola</span>
                </div>
                <div>
                    <span class="main-points">Incendent from:</span>
                    <span class="text-size text-secondary">Binotta</span>
                </div>
                <div>
                    <span class="main-points">Incendent with:</span>
                    <span class="text-size text-secondary">Sergey Orlov</span>
                </div>
                <div>
                    <span class="main-points">Lap:</span>
                    <span class="text-size text-secondary">28</span>
                </div>
                <div>
                    <span class="main-points">Description:</span>
                </div>
                <span style="background: white" class="text-size text-secondary">Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba  Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba  Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba  Aboba Aboba Aboba AbobaAboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba Aboba  Aboba Aboba Aboba Aboba</span>
                <hr>
                <div class="row" style="margin: 0">
                    <div class="col-4">
                        <span class="bold-text">Status:</span>
                        <span class="bold-text negative">Denied</span>
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-4" style="text-align:right">
                        <span class="bold-text">Penalty:</span>
                        <span class="text-secondary text-upper">No</span>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </main>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
{% endblock %}

{% block after-body %}
    <script src="{% static 'scripts/bootstrap@4.6.0.js' %}"></script>
{% endblock %}