{% extends 'base-bootstrap.html' %}
{% load static %}
{% block styles %}
    <link href="{% static 'styles/header.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/in-dev.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/footer.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'styles/slog.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
    <main>
        <div class="text-center" style="padding-top: 13%">
            <span class="slog">In development...</span>
        </div>
    </main>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
{% endblock %}