.text-secondary{
    font-family: Arial;
    color: rgba(37, 37, 37, 0.5) !important;
    font-size: 20px;
}

.hr-card{
    width: 75%;
    margin: 0 auto 10px auto;
}

.margin-upper{
    margin: 10px 0 0 0;
}

td{
    width: 19%;
}

.td-day{
    width: 5%;
}

.margin-table-fields{
    margin: auto auto auto 0 !important;
    width: 75%;
}