.playlist-thumbnail {
    justify-content: space-between;
    align-items: flex-end;
}
.playlist-name {
    margin-left: 0;
}
.right-items{
    display: flex;
    padding: 10px;
    margin-bottom: 14px;
}
.pilots-class {
    text-align: center;
    color: white;
    width: 50px;
    height: 35px;
    line-height: 35px;
}

.pilot-class-AM {
    background: rgb(192, 0, 0);
    border-radius: 2px;
    font-size: 1.35em;
    font-weight: bold;
}
.content {
    background: white;
    padding: 15px;
}

.standard-text {

}