@font-face {
    font-family: Phantom cyr-lat; /* Гарнитура шрифта */
    src: url(/static/fonts/10351.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Montserrat-Regular; /* Гарнитура шрифта */
    src: url(/static/fonts/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
}

.foo-header{
    background-color: #2f3640;
}

.text-block-foot, .text-block-foot a{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.45);
    letter-spacing: 0.01em;
    text-decoration: none;
}

.mid-content-foot{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}

.mid-content-foot a{
    margin: auto;
}

.footer{
    height: 60px;
}