.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@font-face {
    font-family: Phantom cyr-lat; /* Гарнитура шрифта */
    src: url(/static/fonts/10351.ttf); /* Путь к файлу со шрифтом */
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.dropdown-menu{
    list-style-type: none;
}

.username{
    color: #f9b330;
}

.logout-but{
    background: none;
    border: none;
    text-decoration: none;
    color: #E8E8E8;
}

.login-input {
    background: #ffffff;
    border: none;
    color: #1f1a0c;
    transition: all 300ms;
    width: 125px;
    height: 35px;
    border-radius: 10px;
    border-bottom: 1px solid #ffff64;
    margin: 5px 10px 0 10px;
}

.login-btn {
    display: inline-block;
    border: none;
    background-color: #eac407;
    color: #1f1a0c;
}

.login-btn:hover {
    background-color: #eac407;
}

.login-btn:focus {
    border-bottom: 3px solid #aa9638;
    outline: none;
}

.login-btn:visited{
    background-color: #eac407;
}

.login-list-elements{
    background: #F4B913;
}

.dropdown-item{
    color: #1f1a0c;
}


.dropdown-item:hover {
    border-bottom: 3px solid #ffff64;
    outline: none;
}

.default-link {
    background: none;
    border: none;
    text-decoration: underline;
    color: #1f1a0c;
}

.nav-item{
    margin-top: auto;
    margin-bottom: auto;
}

.text-block-head{
    text-decoration: none;
    font-family: Phantom cyr-lat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #e8e8e8;
    letter-spacing: 0.01em;
}

.li-header{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.navbar-nav .nav-link{
    color: #e8e8e8;
}

.foo-header{
    padding: 8px 0 8px 0;
}

.foo-header-content{
    height: 36px;
}

.foo-header-bounds-block{
    width: 73px;
}

.mid-content{
    padding-left: 15px;
    padding-right: 15px;
}
