@font-face {
    font-family: Phantom cyr-lat; /* Гарнитура шрифта */
    src: url(/static/fonts/10351.ttf); /* Путь к файлу со шрифтом */
}

.page-l{
    text-decoration:none;
    color: #1f1a0c;
}

.page-l:hover{
    text-decoration: underline;
    color: #1f1a0c;
}

.btn-sub:hover{
    border: 2px #aa9638 solid;
    color: #1f1a0c;
    margin-top: 8px;
}

.btn-sub{
    margin: 10px 0 0 0;
    background-color: #eac407;
    border-radius: 10px;
    color: #fff;
}

.fields:hover{
    font-size: 102%;
}

.messages-block{
    padding-left: 0;
}

.register-fields{
    margin-top: 10px;
}

.progress-login{
    background: #dd9c61;
}

.pro{
    height: 6px;
}

.pro-col{
    background: #dd9c61;
}

.main-block{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}

.headers-login{
    text-decoration: none;
    font-family: Phantom cyr-lat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    letter-spacing: 0.01em;
}

.messages{
    margin-top: 3px;
    color: #d70c10;
    font-size: 150%;
    list-style-type: none;
}

#login-btn-group{
    display: none;
}